.parentContainer {
    background-color: #282c32;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
}
@media (max-width:500px) {
    .parentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:1024px) {
    .parentContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}