.homeTitle {
    margin-bottom: 10px;
    padding: 10px;
    color: rgb(248, 236, 236);
    margin: 0 10px;
}
.homePoster {
    display: flex;
    padding: 20px;
}

.homePoster > img {
    width: 200px;
    height: 300px;
    margin-right: 1.4em;
    transition: transform 500ms;
    border-radius: 10px;
    margin-bottom: 10px;
}
.homePoster > img:hover {
    transform: scale(1.1);

}
@media screen and (max-width: 200px) {
  .homePoster > img {
    width: 100px;
    height: 200px;
    margin-right: 1.4em;
    transition: transform 500ms;
    border-radius: 10px;
    margin-bottom: 10px;
}
}
