.home{
    background-color: #282c32;
    height:100%;
}
.homeContainer {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

@media (min-width:200px) {
  
   ::-webkit-scrollbar {
    width: 10px;

}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}