*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
  }
  .navBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }
  .navBarLogo > img {
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
 .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 2rem;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }

  .navItem {
    height: 80px;
    margin-left: 50px;
  }
  .navLinks {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .navLinks:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .menuIcon {
    display: none;
  }
  @media screen and (max-width: 960px) {
    nav {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      justify-content: center;
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .navItem{
      margin: 0;
    }
    .navLinks {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navLinks:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navBarLogo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(30%, 40%);

    }
  
    .menuIcon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    
  }
  @media screen and (max-width: 200px) {
    .navBarLogo >img {
      width: 35%;
      height: 35px;
    }

  }
